*
!*/

.venv/
.venv/*
.idea/
__pycache__/

!*.py
!README.md
!README.ko.md
!.gitignore
!docs
!docs/*.png

!analysisData/.gitkeep

!setup.bat
!setup.sh
!run.bat
!run.sh
!requirements.txt

!teffunctions
!teffunctions/.gitkeep
teffunctions/*.py
!teffunctions/simulatorFunctions.py
!teffunctions/teff_MMACDDEFAULT.py
!teffunctions/teff_SPDDEFAULT.py

!linearizedAnalysis
!linearizedAnalysis/.gitkeep